.playField{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.playField > div{
    border: 1px solid black;
    text-align: center;
    height: 190px;

}
img{
    height: 190px;
}
.found{
    border: 1px solid green;
}
.wrong{
    border: 1px solid red;
}
.hidden{
    display: none;
}